* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  direction: rtl;
  margin: 20px;
  padding: 20px;
}
@media (max-width : 768px) {
  .App {
    direction: rtl;
    margin: 15px;
    padding: 15px;
  }
}



